@using ImpotsTaxes.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>LstnotesouffAss</title>
    <link type="text/css" rel="stylesheet" href="../../Content/designComposant.css" /> 
    <link type="text/css" rel="stylesheet" href="../../Content/clignotement.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/styleTable.css" />
    <script type="text/javascript" src="../../Content/etablirMED.js"></script>
</head>
<body id="LstnotesouffAss" onload="processus('LstnotesouffAss','@Request.Params["action"]');">
    
    <div>
        <h2 style="text-align:center;text-decoration:underline;">ETABLIR LES MISES EN DEMEURE</h2>
    </div>

    <div id="processus">
        
    </div>

     <div  style="position:absolute; top:60px; left:800px; width:1000px;">
        @{ListesMED lst = new ListesMED();}

         <form action="/Recouvrement/ModeAffMED?ass=@Request.Params["ass"]" method="post">

        <h3>LISTE DES NOTES EN SOUFFRANCE DE @lst.NomAssujetti(Request.Params["ass"]) A METTRE SUR LA MISE EN DEMEURE</h3>
        <pre>
             Numero d'ordre : <input type="text" name="numOrd" id="numOrd" value="@lst.NumeroMED(Session["utilisateur"] as string)[0]" />
             Numero MED     : <input type="text" name="numMED"  id="numMED" value="@lst.NumeroMED(Session["utilisateur"] as string)[1]" />
             Numero de dossier : <input type="text" name="numDos"  id="numDos" value="@Request.Params["ass"]" />
        </pre>
        <table >
			 <tr>
                    <th>Note</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Monnaie</th>
                    <th>Article</th> 
                    <th>Libelle</th>                                   
                                
            </tr>
                    
                    
                    @foreach (Recovery recouvrement in lst.ListeNoteSouffAssujetti(Request.Params["ass"]))
                    {
                        <tr>
                            <td>@recouvrement.assessment_id</td>
                            <td>@recouvrement.validation_date</td>
                            <td>@recouvrement.amount</td>
                            <td>@recouvrement.currency</td>
                            <td>@recouvrement.tax_id</td>
                            <td>@recouvrement.tax_name</td>                          
                        </tr>
                    }								
		    </table>

             <!--<input type="submit" value="Etablir la Mise en Demeure" />-->

             </form>

         <button onclick="window.location.href = '/Recouvrement/ModeAffMED?ass=@Request.Params["ass"]&numOrd=' + document.getElementById('numOrd').value + '&numMED=' + document.getElementById('numMED').value;" class="bouton">Etablir la Mise en Demeure</button>
            @*<a href="/Recouvrement/ModeAffMED?ass=@Request.Params["ass"]" class="bouton">Etablir la Mise en Demeure</a>*@
        </div>
</body>
</html>
